@import "tailwindcss";

body {
  margin: 0;
  background-color: #030305;
  color: #f8f9fa;
}

/* Custom Infinite Scroll for Tech Stack Marquee */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}